torch
torchvision
numpy
opencv-python
ultralytics
boxmot
torchreid
transformers
fiftyone
fiftyone-brain
scikit-learn
scikit-learn-extra
scipy
tqdm
umap-learn
hdbscan
google-generativeai
mediapipe
tensorboard
